#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #8b9ab0;
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
}
#progressbar li.active {
    color: #003B74 !important;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 90px;
    line-height: 40px;
    display: block;
    font-size: 10px;
    color: #333;
    border-radius: 3em;
    margin: 0 auto 5px auto;
    text-align: center;
    background-color: #CECECE;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}
#progressbar li:first-child:after {
    content: none;
}

#progressbar li.active:before,  #progressbar li.active:after{
    background: #003B74;
    color: white;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #002656;
    animation: spin2 1s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
     
    100% {
      transform: rotate(360deg);
    }
  }

.bg-zarpes{
    background: #003B74 !important;
}

