#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #8b9ab0;
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
}
#progressbar li.active {
    color: #003B74 !important;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 90px;
    line-height: 40px;
    display: block;
    font-size: 10px;
    color: #333;
    border-radius: 3em;
    margin: 0 auto 5px auto;
    text-align: center;
    background-color: #CECECE;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}
#progressbar li:first-child:after {
    content: none;
}

#progressbar li.active:before,  #progressbar li.active:after{
    background: #003B74;
    color: white;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #002656;
    animation: spin2 1s ease infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

.bg-zarpes{
    background: #003B74 !important;
}

.btncancelarZarpes{
    background-color: #8b9ab0 !important;
    color:#333 !important;
    font: bold !important;
}

.inputGroup {
    background-color: #d5d5d5;
    display: block;
    position: relative;
}
.inputGroup label {
    padding: 6px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}
.inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: "";
    background-color: #4dbd74;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}
.inputGroup label:after {
    width: 32px;
    height: 32px;
    content: "";
    border: 2px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
    color: #fff;
}
.inputGroup input:checked ~ label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}
.inputGroup input:checked ~ label:after {
    background-color: #54E0C7;
    border-color: #54E0C7;
}
.inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
.form {
    max-width: 250px;
    font-size: 18px;
    font-weight: 600;
}

.card-norma{
    padding: 1px;
}

.text-norma{
    font-size: 16px;
    background: aliceblue;
}

.card-acepto{
    background: #d5d5d5;
}

div.container { max-width: 1200px }


.document-link {

    text-decoration: none;
    color: #39f;
}

[href$=".pdf"]::after {
    font-family: "Font Awesome 5 Free";
    content: '  \f1c1';
    color: red;
}

[href$=".png"]::after, [href$=".jpg"]::after , [href$=".gif"]::after, [href$=".bmp"]::after, [href$=".jpeg"]::after, [href$=".tif"]::after {
    font-family: "Font Awesome 5 Free";
    content: '  \f03e';
    color: green;
}

